@import "shared/_animations";
@import "shared/_variables";
@import "shared/header";
@import "shared/links";
@import "shared/grid";
@import "composition";
@import "feature_box";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $gray;
  padding: 30px;
  box-sizing: border-box;
}

.u-center-text {
  text-align: center;
}

.about {
  background-color: $light-gray-background;
  padding: 250px 0;
  margin-top: -28vh;

  h2 {
    @include margin-bottom-big;
  }

  h3 {
    @include margin-bottom-xs;
  }
}

.features {
  padding: 200px 0;  
  background-image: $diagonal-gradient,
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -100px;

  & > * {
    transform: skewY(7deg);
  }
}

h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  @include gradient-text;

  letter-spacing: 2px;
  transform: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px $shadow;
  }
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

p {
  &:not(:last-child) {
    margin-bottom: $small-space;
  }
}