@import "shared/_animations";
@import "shared/_variables";
@import "shared/header";
@import "shared/forms";
@import "shared/grid";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 52.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $gray;
  padding: 3rem;
  box-sizing: border-box;
}

.u-center-text {
  text-align: center;
}

.about {
  background-color: $light-gray-background;
  padding: 250px 0;
  margin-top: -28vh;

  h2 {
    @include margin-bottom-big;
  }
}

h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transform: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px rgba(black, .2);
  }
}