$gray: #777;
$theme-light: #7ed56f;
$theme-medium: #55c57a;
$theme-dark: #28b485;
$white: #fff;
$light-gray-background: #f7f7f7;
$black: #000;
$shadow: rgba(black, .2);

$grid-width: 1140px;
$big-space: 80px;
$medium-space: 60px;
$small-space: 30px;
$xs-space: 15px;

$gutter-vertical: $big-space;
$gutter-horizontal: $medium-space;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin margin-bottom-big {
  margin-bottom: $big-space;
}

@mixin margin-bottom-xs {
  margin-bottom: $xs-space;
}

@mixin gradient-text {
  display: inline-block;
  background-image: linear-gradient(to right, $theme-light, $theme-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}